/* Everything */
* 
{
	/* Makes the calendar background image visable when printing */
	-webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
	color-adjust: exact !important;                 /* Firefox */
	display: contents;                              /* Hides everything without an expicitly stated display attribute */
}

/* Overriding display settings for things that were still showing up */
title { display: none; }
span { display: none; }
.menu-background { display: none; }


/* Box the calendar is contained within */
#calendarBox
{
	display: contents !important;
	position: fixed;
	width: 100%; /* This has to be set to 100% minus the margin for the calendar to scale correctly */
}

/* Sets calender height in relation to width */
#calendarBox:before 
{
	content: "";
	display: block;
	padding-top: 75%; 	/* Height of calendar in relation to width */
}

/* Places the calendar in the correct part of the calendar box */
#calendar
{
	border-width: .3vw !important;
	border-color: black;
	border-style: solid;
	margin: 0;
	padding: 0;
	display: flex;
	align-content: flex-end;
	flex-direction: column;
	position: fixed;
	background-image: url("picts/general/calendarBackground.jpg");
	background-size: 100%;
}

/* Text at the top of the calendar (Cory's Karate)*/
#calendarTitleText
{
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1.75vw;
}

/* The month and year at the top of the calendar */
#calendarMonthText
{

	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1.5vw;
}

/* Containing box for the calendar header */
#calendarHeaderContainer
{
	align-content: flex-end;
	display: flex;
}

/* The calendar header */
#calendarHeader
{
	width: 100%;
	display: block;
	overflow: visible;
	padding-bottom: 0px;
}

/* Containing box for text that is contained in the header of the calendar */
#calendarHeaderText
{
	color: #303030;
	display: block;
	margin: 0;
	padding: .5% 2.5% .5% 2.5%;
	list-style-type: disc;
	overflow: visible !important;
}


/* Text that is contained in the header of the calendar */
#calendarHeaderText > li
{
	list-style-type: disc;
	display: list-item;
	margin-bottom: .05%;
	font-size: 1.25vw;
	overflow: visible !important;
}

/* Text that is contained in the header of the calendar and is bold */
#calendarHeaderText > li > b
{
	display: inline-block;
	font-size: 1.25vw;
}

/* Text that is contained in the header of the calendar and is Italic */
#calendarHeaderText > li > i
{
	display: inline-block;
	font-size: 1.25vw;
}

/* Last piece of header text */
#calendarHeaderText > li:last-child
{
	display: list-item;
	margin-bottom: auto;
	font-size: 1.25vw;
}


/* The header bar at the top of a calendar column that lists the day of the week */
#columnHeaders
{
	padding: 0;
	margin: 0;
	display: flex;
	text-align: center;
	background-color: rgba(69,69,69,.5); /* nice,nice,nice,.5 */
	font-weight: bold;
	font-size: 1.5vw;
}

/* Each individual column Header */
#columnHeaders li
{
	text-align: center;
	display: flex;
	border-width: .3vw;
	border-left-width: 0;
	border-style: solid;
	border-color: black;
	list-style: none;
	flex-grow: 1;
	width: 0; /* Makes box not scale in relation to inner text size */
}

/* The last column header */
#columnHeaders > li:last-child
{
	display: flex;
	border-width: .3vw;
	border-left-width: 0;
	border-right-width: 0 !important;
}

/* The text in the column headers */
#columnHeaders > li > h1
{
	display: flex;
	margin: 0 auto;
	padding: 0;
	font-weight: bold;
	text-align: center;
	font-size: 1.25vw;
}

/* The section of the calendar with the date boxes */
#calendarDates
{
	flex-grow: 2;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}


/* Each row of dates */
.calendarRow
{
	flex-grow: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

/* Each day */
.calendarRow > li
{
	color: #303030;
	display: block;
	border-width: .3vw;
	border-top-width: 0;
	border-left-width: 0;
	border-style: solid;
	border-color: black;
	list-style: none;
	flex-grow: 1;
	width: 0; /* Makes box not scale in relation to inner text size */
	background-color: transparent !important; /* Stops highlighting from showing up on the printed version */
}

/* The last column of dates */
.calendarRow > li:last-child 
{
	border-width: .3vw;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0 !important;
}

/* The last row of dates */
.calendarRow:last-child > li 
{ 
	border-width: .3vw;
	border-top-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}


/* The number that lists what the date is */
.calendarRow > li > h1
{
	display: block;
	font-size: 1.25vw;
	margin-bottom: .25vw;
	padding: 0;
	text-decoration: underline;
	word-wrap: break-word;
}

.calendarRow > li > h1
{
	padding: 0 1.5% 1% 1.5%;
}

/* The text listing what event is happening that day (Strikes, Blocks, Kicks!) */
.eventText > h2
{
	display: block;
	text-align: center;
	font-size: 1.25vw;
	padding: 0;
	word-wrap: break-word;
}

.eventText
{
	display: block;
}

/* Displays breaks that are in the calendar event text */
h2 > br { display: block; }