/* Box the calendar is contained within */
#calendarBox
{
	margin: 0%; /* Spacing between the calender and other elements of the page */
	position: relative;
	width: 100%; /* This has to be set to 100% minis the margin for the calendar to scale correctly */
	border-width: 1px 1px 0 1px;
	border-color: black;
	border-style: solid;
}

/* Sets calender height in relation to width */
#calendarBox:before 
{
	content: "";
	display: block;
	padding-top: 125%; 	/* Height of calendar in relation to width */
}

/* Places the calendar in the correct part of the calendar box */
#calendar
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
    background-image: url("picts/general/calendarBackground.jpg");
    background-size: 100%;
}

/* Text at the top of the calendar (Cory's Karate)*/
#calendarTitleText
{
	color: black;
	margin: 0;
	text-align: center;
	font-size: 13px;
}

/* The month and year at the top of the calendar */
#calendarMonthText
{
	color: black;
	margin: 0;
	text-align: center;
	font-size: 10px;
}

/* Containing box for text that is contained in the header of the calendar */
#calendarHeaderText
{
	margin: 0;
	padding: 1% 3% 1% 3%;
	list-style-type: disc;
	font-size: 5px;
	overflow-y: scroll;
	max-height: 100px;
}

/* Text that is contained in the header of the calendar */
#calendarHeaderText > li
{
	margin-bottom: .5%;
	font-size: 7.5px;
}

/* Last piece of header text */
#calendarHeaderText > li:last-child
{
	margin-bottom: 0%;
	font-size: 7.5px;
}


/* The header bar at the top of a calendar column that lists the day of the week */
#columnHeaders
{
	padding: 0;
	margin: 0;
	display: flex;
	text-align: center;
	background-color: rgba(69,69,69,.5); /* nice,nice,nice,.5 */
	font-weight: bold;
	font-size: .7.5px;
}

/* Each individual column Header */
#columnHeaders li
{
	font-size: 7.5px;
	border-width: 1.5px 1.5px 1.5px 0;
	border-style: solid;
	border-color: black;
	list-style: none;
	flex-grow: 1;
	width: 0; /* Makes box not scale in relation to inner text size */
}

/* The last column header */
#columnHeaders > li:last-child
{
	border-width: 1.5px 0 1.5px 0;
}

/* The text in the column headers */
#columnHeaders > li > h1
{
	color: black;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 7.5px;
}

/* The section of the calendar with the date boxes */
#calendarDates
{
	flex-grow: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}


/* Each row of dates */
.calendarRow
{
	flex-grow: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

/* Each day */
.calendarRow  > li
{
	border-width: 0 1.5px 1.5px 0;
	border-style: solid;
	border-color: black;
	list-style: none;
	flex-grow: 1;
	width: 0; /* Makes box not scale in relation to inner text size */
}

/* The last column of dates */
.calendarRow  > li:last-child
{
	border-width: 0 0 1.5px 0;
}

/* The number that lists what the date is */
.calendarRow > li > h1
{
	font-size: 8.5;
	margin: 2.5px 0 2.5px 2.5px;
	padding: 0;
	text-decoration: underline;
	word-wrap: break-word;
}

/* The text listing what event is happening that day (Strikes, Blocks, Kicks!) */
.eventText > h2
{
	text-align: center;
	font-size: 9px;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

/* Div that holds the text for an event */
.eventText
{
	margin: 0 2% 2% 2%;
}

/* The buttons for navigating the calendar */
.calNavButtons
{
	display: inline-block;
	margin-left: 280px;
}

/* A singular buttons for navigating the calendar */
.calNavButton
{
	display: inline-block;
}
